name: Example usage

on: [push]

jobs:
  example:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: npm install and build
      run: |
        npm i
        npm run build
      env:
        CI: true
    - name: Deploy to neocities
      uses: bcomnes/deploy-to-neocities@master
      with:
        api-token: ${{ secrets.NeocitiesToken }}
        distDir: public
        cleanup: true
